body {
    margin: 0px;
    padding: 0px;
    background: rgb(0, 140, 255);
    justify-content: center;
}

.action {
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    background: rgb(0, 140, 255);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 15px #000000;
    outline: none;
}

.action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: fantasy;
    font-size: 2em;
    transition: 0.3s ease-in-out;
}

.action.active span {
    transform: rotate(135deg);
}

.action img {
    position: relative;
    width: 20px;
}

.action ul li {
    background: rgb(0, 140, 255);
    padding: 20px;
    position: relative;
    right: 15px;
    bottom: 350px;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: -2px 2px 8px #020202;
}

.action ul li:hover {
    transition: 0.5s;
    background: rgb(4, 100, 179);
}

.action ul {
    list-style-type: none;
    position: absolute;
    right: 10px;
    background: rgb(0, 140, 255);
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.action.active ul {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

#resultSpeak {
    width: 47%;
    font-size: 2em;
    text-align: center;
    position: fixed;
    top: 70%;
    transition: 0.5s;
    outline: none;
}

#codeeditor {
    position: fixed;
    height: 100%;
    right: 0;
    width: 50%;
}

@media (max-width: 600px) {
    #resultSpeak {
        width: 40%;
        font-size: 2em;
        text-align: center;
        position: fixed;
        top: 30%;
        left: 30%;
        transition: 0.5s;
    }
}

@media (max-width: 600px) {
    .CodeMirror {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}

input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    background: white;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .9s;
}

input:checked[type="checkbox"] {
    background: rgb(2, 67, 121);
    transition: .5s;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 20px;
    background: #f8c800;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    background: #dbd6d6;
    left: 40px;
}

.voz {
    width: 100px;
    height: 100px;
    padding: 20px;
    justify-content: center;
    object-position: center;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 18%;
    transition: 0.5s;
    border-radius: 100%;
    outline: none;
}

input[type="image"]:hover {
    color: white;
    box-shadow: -2px 5px 10px #3b3b3b;
    background: rgb(0, 140, 255);
}

.modo {
    padding: 20px;
    width: 40%;
    background: transparent;
    color: white;
}

@media (max-width: 600px) {
    .voz {
        text-align: center;
        position: absolute;
        left: 36%;
        top: 10%;
        object-position: center;
        border-radius: 100%;
        padding: 20px;
    }
    #codeeditor {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media (max-height: 350px) {
    #codeeditor {
        position: fixed;
        height: 100%;
    }
    .voz {
        left: 20%;
        width: 50px;
        height: 50px;
        padding: 10px;
    }
}