*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo:hover{
    color: rgb(0, 140, 255) !important;
    transition: .1.5s ease-in-out;
}
#space{
    width: 72%;
}
.complete{
    width: 100% !important;
    border: none !important;
}